/* ################### pricing responsive css start ################### */

@media (min-width: 320px) and (max-width:768px) {
	#pricing .section-1{
        margin-top: 0;
		margin-bottom: 0;
		padding-bottom: 00px;
    }
	#pricing .loader{
		color:#FB6C73;
	}
	#pricing .section-2-heading {
		font-size: 22px;
	}
	#pricing .container-faqs {
		width: 100%;
		padding: 0px 30px;
	}
	#pricing .accordion-section-title{
		font-size:18px;
	}
	#pricing .accordion p {font-size: 14px;}
	#pricing .accordion-section-title:before{
		margin-left: -2px;
		margin-right: 8px;
		width:19px;
	}
	#pricing .accordion-section-content{
		margin-left:35px;
	}
	#pricing .section-faq{ margin-top: 15px;margin-bottom: 0px; padding-top: 40px;}
	#pricin .section-2-heading{ font-family: montserratbold;}
	#pricing .billing-plan-list{width:100%;     max-width: 280px;}
	/*#pricing .billing-plan-list ul > li > a{
		padding:15px 2px;
	}*/
	#pricing .container-enterprise{
		width: 100%;
		padding: 0 25px;
	}
	#pricing .enterprise-box-new p{
		padding: 0px;
		margin-bottom: 20px;
	}
	#pricing .enterprise_pos{
		margin-top: 10px;
	}
	#pricing .need-custom-plan span{
		font-size: 12px;
	}
	#pricing .need-custom-plan i.material-icons {
	    font-size: 28px;
	    top: 10px;
	}
	
    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
    #pricing .pricing-headingtop .plans-heading {font-size: 22px; margin: 10px 0px;}
    #pricing .pricing-headingtop .plans-subheading {font-size: 14px; margin-top: 5px; padding: 0 15px; line-height: normal;}
	#pricing .sec-allPlans .section-2-heading {font-size: 22px;}
	#pricing .section-faq .section-2-heading {font-size: 22px; line-height: 30px; font-weight: 600;}
	#plan-cycle {margin-bottom: 20px;     margin-top: 40px;}

	/* table res css */
	/*thead th{border-bottom: 1px solid transparent !important; border: 1px solid #eff0f1;}
	thead th:nth-child(1) {display: none;}
	tbody tr th {display: none;}
	tbody td {border-left: 1px solid #eff0f1; border-right: 1px solid #eff0f1;}
	tbody tr:last-child td {border-bottom: 1px solid #eff0f1;}
	table, thead, tbody, th, td, tr{display: block;}*/
	.quater{
		vertical-align: middle !important;
		/* margin-top: -3px; */
	}
	.half{
		vertical-align: middle !important;
		margin-top: -3px;
	}
	.full{
		vertical-align: middle !important;
		margin-top: -3px;
	}
	.none{
		vertical-align: middle !important;
		margin-top: -3px;
	}
	#pricing .pricing-headingtop {margin-top: 0px !important; padding: 20px 0px; margin-bottom: 0px;}
	.pricing-switch {margin-bottom: 30px;}
	.faq-section {margin-right: 0;}
	/* .col-sm-2.footer-link, .col-sm-4.footer-link {width: 100% !important;} */
	.create-exp-center {margin: 15px 0px;}
	.create-exp .container {
		width: 100%;
		text-align: center;
		padding: 30px 20px;
		margin-top: 30px;
		margin-bottom: 60px;
	}	
	.create-exp .container .btn-white-red-outline {text-align: center; float: none;}
	.create-exp .container .col-sm-3, .create-exp .container .col-sm-6 {
		width: 100%;
	}
	.create-exp .container .btn-white-red-outline {float: none;}
	#footer.section-14 .container .col-sm-12 {
		padding-left: 0 !important;
	}
	.bg1-img {
		padding: 70px 10px 100px;
	}
	.billing-plan-list ul>li {
		width: 50%;
	}
	.billing-plan-list ul>li:nth-child(2) {
		width: 40%;
	}
	.four-plan-case .billing-plan-list ul>li {
		text-align: center;
	}
	.four-plan-case .billing-plan-list ul>li:nth-child(2) {
		width: 1%; 
		text-align: center;
	}
	#pricing .four-plan-case .billing-plan-list {
		 width: 100%; 
		 max-width: 500px; 
	}
	.create-exp .container h5 + span {
		margin-left: 0;
	}
	.create-exp .container h5 {
		margin-bottom: 30px;
		display: inline-block;
	}
	.create-exp span.create-exp-start, .create-exp .container span.create-exp-price, .create-exp .container .text-opacity {display: block;} 
	.create-exp span.create-exp-start {
		top: -5px;
	}
}

@media (min-width:320px) and (max-width:330px){
	#pricing .section-1-right {
		margin-top:70px;
	}
}
@media (min-width:320px) and (max-width:420px){
	.create-exp .container .text-opacity { display: block;}
	.create-exp-center {
		/* line-height: 22px; */
		/* margin: 25px 0px !important; */
	}
	.create-exp span.create-exp-start { display: block;  top: 0;}
	.create-exp .container span.create-exp-price {display: block;}


}

@media (min-width: 440px) and (max-width:768px) {
	#pricing .container-faqs {
		/*width: 440px;*/
	}
}
@media (min-width: 320px) and (max-width:640px) {
	.create-exp .container .inner-container {
		text-align: center;
		width: 100%;
	}
}
@media (min-width: 640px) and (max-width:768px) {
	.allPlans-blocks-640{width: 50%;}
}
@media (max-width: 768px) and (min-width: 768px) {
	.sec-cookies p {
		width: 65% !important;
	}
	.sec-cookies .btn-understand {
		float: left !important;
		margin-left: 30px;
	}
	.sec-cookies .btn-understand {
		float: left !important;
		margin-left: 30px;
	}
	.sec-cookies a i.material-icons {
		right: 20px !important;
	}

}

@media (min-width: 769px) and (max-width:990px) {
	
	#pricing .loader{
		margin-left: 0px;
		color:#fb5f66;
	}

    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
	.sec-allPlans{margin-top: 30px;}
	.quater{
		vertical-align: middle !important;
		/* margin-top: -4px; */
	}
	.half{
		vertical-align: middle !important;
		margin-top: -4px;
	}
	.full{
		vertical-align: middle !important;
		margin-top: -4px;
	}
	.none{
		vertical-align: middle !important;
		margin-top: -4px;
	}
	#pricing .pricing-headingtop {margin-top: 0px !important; margin-bottom: 0px; padding: 40px;}
	.pricing-switch {margin-bottom: 30px;}
	#pricing .container-faqs {
		width: 100%;
		padding: 0px 25px;
	}
	#pricing .section-faq {padding-top: 40px;}
	.col-sm-2.footer-link .footer-img-text {min-height: 73px;}
	#pricing .pricing-headingtop .plans-heading {font-size: 30px;}	
	.create-exp .container h5 {
		margin-bottom: 30px;
		line-height: 38px;
	}
	.create-exp .container h5 + span {
		margin-left: 0;
	}
	.create-exp .container {
		padding-bottom: 30px;
	}
	
}
@media (min-width: 992px) and (max-width:1024px) {
	.enterprise-agency-box {
		/* width: 550px !important; */
	}
	.enterprise-box-v2.startup-box {
		width: 380px !important;
		margin: 0px !important;
		min-height: 296px !important;
	}
}
@media screen and (max-width:990px){
	.pricing-outer.container{padding-right: 30px; padding-left: 30px;}
	.enterprise-startup .container {
		padding-right: 30px;
		padding-left: 30px;
	}

	/* new css */
	table {
		display: none;
	}
	.pricing-outer {
    	width: 100%;
	}
	.pricing-block{
		display: block; 
		text-align: center;
		background: #fff;
    	border: 1px solid #eff0f1;
		margin-bottom: 30px;
	}
	.pricing-block:last-child {
		margin-bottom: 0px;
	}
	.pricing-top {
		padding: 15px 30px;
		margin-bottom: 15px;
	}
	.pricing-top h3{
		font-size: 18px;
		color: #666666;
		font-family: montserratregular;
		text-transform: none;
		margin-top: 15px;
	}
	.pricing-top p.price{	
		font-size: 32px !important;
		color: #3a85b4;
		font-family: montserratlight !important;
		line-height: normal;
		text-align: center;
	}
	.pricing-outer-ltd1 .pricing-top p.price {
		font-size: 30px !important;
	}
	.pricing-top p.price sup {
		font-size: 32px;
		font-family: montserratlight;
		top:0;
	}
	.pricing-top p.strike-price {
		color: #abb7bc;
		font-size: 12px;
		font-family: montserratbold;
		text-decoration: line-through;
		margin: 0px;
		line-height: normal;
		text-align: center;
		margin-bottom: 5px;
	}
	.pricing-top p.price sub {
		font-size: 14px;
		bottom: 0px;
		font-family: montserratregular;
		left: 0px;
	}
	.pricing-top p.strike-price sub {
		bottom: 0;
		left: 3px;
	}
	.pricing-top span a {
		color: #fdfeff;
		text-decoration: none;
		text-transform: uppercase;
		background: #fb6c73;
		border-radius: 4px;
		padding: 11px 25px;
		font-size: 10px;
		transition: .3s ease-in-out;
		font-family: montserratbold;
	}
	.pricing-bottom {
		/*padding-top: 10px;*/
	}
	.pricing-bottom ul {
		padding: 0;
		margin: 0;
		padding-bottom: 15px;
	}
	.pricing-bottom ul li {
		list-style: none;
		margin-bottom: 0px;
    	padding: 10px 0px;
		float: left;
    	width: 100%;
	}
	.pricing-bottom ul li .feature-title {
		font-size: 13px;
		font-family: Roboto-Regular;
		color: #797f83;
		display: block;
	}
	.pricing-bottom ul li .feature-subtitle {
		font-size: 12px;
		color: #666;
    	font-family: Roboto-Regular;
	}
	.pricing-bottom a.toggle-more {
		float: left;
		width: 100%;
		color: #2b93be;
		background: #eff0f1;
		padding: 3px;
		/* margin-top: 7px; */
		font-family: Roboto-Regular;
	}
	.pricing-bottom a.toggle-more i {
		vertical-align: middle;
		position: relative;
		top: -1px;
		font-size: 13px;
	}
	.pricing-bottom a.toggle-more .more-info {
		display: inline-block;
		font-size: 10px;
		text-transform: uppercase;
		margin: 0;
	}
	.pricing-bottom ul li .feature-title i.material-icons {
		color: #2b93be;
		vertical-align: middle;
		position: relative;
		top: -2px;
		visibility: visible;
		padding-right: 5px;
		font-size: 20px;
	}
	.expand-rs .feature-title {
		cursor: pointer;
	}
	.expand-rs.open {
		background: #f5fbff;
		box-shadow: 2px 3px 7px rgba(0, 0, 0, .10);
		border-top: 1px solid #e0f2fe;
		cursor: pointer;
	}
	.expand-rs .minus, .expand-rs.open .plus{display: none;}
	.expand-rs.open .minus, .expand-rs .plus {display: inline-block;}
	.detail {padding: 10px 10px 0px 10px;}
	.create-exp {
		padding-right: 30px;
		padding-left: 30px;
	}
	.create-exp .container .col-sm-3, 
	.create-exp .container .col-sm-6 {width: 100%; text-align: center;}
	.create-exp .container .btn-white-red-outline {float: none;}
	.create-exp-center {
		margin: 15px 0; width: 100%;
	}
	.create-exp .container, .create-exp .container .col-md-2 {width: 100%;     text-align: center;}
	#plan-cycle {
		margin-left: 0;
	}
	.faq-section.faq-section-even {
		padding-left: 0px !important;
	}
	.pricing-outer.pricing-col-four .pricing-bottom ul li .feature-title i.material-icons{
		color: #2b93be;
		vertical-align: middle;
		position: relative;
		top: -2px;
		visibility: visible;
		padding-right: 5px;
		font-size: 14px;
	}
	.pricing-outer.pricing-col-four {
		width: 100%;
	}
	a.link-contact.intercom_trigger {
		padding-top: 15px;
	}
	span.label-popularPlan {
		top: -1px;
	}
	.create-exp {
		padding-right: 30px;
		padding-left: 30px;
	}
	.create-exp .container .col-sm-3, 
	.create-exp .container .col-sm-6 {width: 100%; text-align: center;}
	.create-exp .container .btn-white-red-outline {float: none;}
	.create-exp-center {
		margin: 0px 0 25px; width: 100%;
	}
	.create-exp .container, .create-exp .container .col-md-2 {width: 100%; text-align: center;}
	ul li span small {display: inline-block;}


}
@media (min-width:320px) and (max-width:420px){
	.create-exp .container .text-opacity { display: block;}
	.create-exp-center {
		/* line-height: 22px; */
		/* margin: 25px 0px !important; */
	}
	.create-exp span.create-exp-start { display: block;  top: 0;}
	.create-exp .container span.create-exp-price {display: block;}


}
@media screen and (max-width:991px){
    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
}


@media (min-width: 991px) and (max-width:1024px) {
	#pricing .loader{
		margin-left: 38%;
		color:#fb5f66;
	}
	#pricing .container-faqs {
		width: 800px;
	}
	.create-exp .container {
		width: 950px;
	}
	.pricing-outer {
		width: 950px !important;
	}
	.enterprise-startup .container {
		padding: 0px 20px !important;
	}
}
@media (min-width: 0px) and (max-width: 1280px){
	.sec-cookies i.material-icons {
		right: -10px !important;
	}
}
@media (min-width: 1024px) and (max-width:1024px) {
	#pricing .loader{
		margin-left:26%;
	}
	.enterprise-startup .container {
		padding: 0px 35px !important;
	}
	.enterprise-agency-box {
		width: 550px !important;
	}

}
@media (min-width: 991px) and (max-width:1280px) {
	#plan-cycle {
		/* margin-left: 19%; */
	}
}
@media (min-width: 1024px) and (max-width:1200px) {
	#pricing .container-faqs {
		width: 900px;
	}
	
}
@media (min-width:1024px) and (max-width:1280px){
	/* .dropdown .dropdown-content {
		left: -80px !important;
	} */
}
@media (min-width:1280px) and (max-width:1280px){
	/* .dropdown .dropdown-content {
		left: -70px !important;
	} */
}
@media (max-width: 1800px) and (min-width: 1480px){
	#pricing .section-1 {
		margin-top: 45px !important;
		padding-top: 60px !important;
	}
}
@media (max-width: 1920px) and (min-width: 1810px) {
	#pricing .section-1 {
		margin-top: 45px !important; 
		padding-top: 60px !important;
	}
}

@media (min-width: 1920px) {

}

@media (min-width: 1925px) and (max-width:2300px) {
	
}

@media (min-width: 2450px) and (max-width:2550px) {

}
@media (min-width: 2600px){

}

/* ################### pricing responsive css end ################### */

@media (min-width:3000px) {
	#footer{padding-top: 80px; padding-bottom: 30px;}
	.footer-link h4 {font-size: 36px; margin-bottom: 40px;}
	.footer-copyright p, .footer-link ul li a {font-size: 23px;}
	.footer-img-text {font-size: 22px;}
	.footer-social ul li a {font-size: 23px;}
	.footer-copyright {margin-bottom: 30px;}
	.footer-copyright i {font-size: 24px;}
	.footer-copyright span {font-size: 24px;}
	.footer-copyright img {max-width: 150px; top: -5px;}
	.pricing-outer.container {
		/* width: 50%; */
		width: 2500px;
	}

	#pricing .pricing-headingtop .plans-heading{font-size: 96px; margin-top: 170px;}
	#pricing .pricing-headingtop .plans-subheading {font-size: 58px; margin-top: 20px;}
	.billing-plan-list {width: 35%; margin: 70px auto 60px; max-width: 490px;}
	#pricing .billing-plan-list ul>li>a {padding: 36px 0;}
	.billing-plan-list ul>li:nth-child(1)>a, .billing-plan-list ul>li:nth-child(2)>a  {font-size: 21px;}	
	.billing-plan-list ul>li.active a i.material-icons {font-size: 28px;}
	thead th h2 {font-size: 45px;}
	thead th p.strike-price {font-size: 32px; margin-bottom: 20px;}
	thead th p.price {font-size: 56px !important;margin-bottom: 30px;}
	thead th:nth-child(1) {font-size: 33px;}
	thead span a {border-radius: 8px; padding: 18px 20px; font-size: 33px;}
	tbody th, tbody td {padding: 40px 20px; line-height: 35px; font-size: 33px;}
	colgroup:nth-child(3) {right: 597px;}
	span.label-popularPlan {font-size: 20px; padding: 6px 10px;top: -37px;}
	thead th h2 {margin-top: 70px; MARGIN-BOTTOM: 30px;}
	thead th p.price sup {font-size: 40px;}
	thead th sub {font-size: 34px;}
	thead th:nth-child(1) i.material-icons {font-size: 40px;}
	tbody th i.material-icons {font-size: 40px;}
	#pricing .pricing-headingtop {margin-bottom: 80px; margin-top: 160px;}
	.enterprise_pos {margin-top: 80px;}
	#pricing .section-faq .section-2-heading {font-size: 104px; line-height: 114px;}
	#pricing .need-custom-plan span {font-size: 44px;}
	#pricing .need-custom-plan i.material-icons {
		font-size: 98px;
		top: 35px;
		margin-right: 15px;
	}
	#pricing .container-enterprise {width: 1330px; margin: 20px auto 80px;}
	#pricing .enterprise-box-new {padding: 70px;}
	#pricing .enterprise-box-new h2.title {font-size: 44px;}
	#pricing .enterprise-box-new span.border-center {width: 58px;}
	#pricing .enterprise-box-new p {font-size: 30px; line-height: 44px;    margin-bottom: 40px;}
	#pricing .enterprise-box-new .btn-white-red-outline {font-size: 21px; padding: 12px 30px;}
	#pricing .accordion-section-title {font-size: 44px; padding: 30px;}
	#pricing .container-faqs {width: 80%; margin: 80px auto;}
	#pricing .accordion-section-title:before {
		font-size: 34px;
		margin-right: 35px;
		margin-top: 7px;
	}
	#pricing .accordion-section-content {margin-left: 80px;}
	#pricing .accordion p {font-size: 36px;}
	.bg1-img {padding: 120px 0;}
	.bg1-img .btn-buildcal{
		font-size: 30px;
    	padding: 35px 75px;
		border-radius: 80px;
		line-height: 54px;
	}
	.start-trial-cta .btn-buildcal i{
		margin-right: 30px;
		font-size: 44px;
		top: -3px;
	}
	.start-trial-cta .btn-buildcal p {line-height: normal;}
	.detail {line-height: 36px; font-size: 30px; padding: 20px 20px 0px 20px;}
	thead span {margin: 20px auto;}
	.quater{
		background: url(../images/pricing-quarter.png) no-repeat !important;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		position: relative;
    	top: -1px;
	}
	.half{
		background: url(../images/pricing-half.png) no-repeat !important;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		position: relative;
    	top: -1px;
	}
	.full{
		background: url(../images/pricing-full.png) no-repeat !important;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		position: relative;
    	top: -1px;
	}
	.none{
		background: url(../images/pricing-none.png) no-repeat !important;
		width: 30px;
		height: 30px;
		margin-right: 15px;
		position: relative;
    	top: -1px;
	}
	#pricing .faq-section-title {
		font-size: 34px;
		line-height: 48px;
		margin-bottom: 18px;
	}
	#pricing .faq-section-content p {
		font-size: 30px;
		line-height: 44px;
		margin-bottom: 50px;
	}
	.container {
		width: 80% !important;
	}
	.company-address {font-size: 18px !important;}
	a.link-contact.intercom_trigger {font-size: 24px;}

	#pricing .section-1 {margin-top: 115px; margin-bottom: 50px;}
	.section-faq .container {
		width: 80%;
	}



}


@media only screen and (max-width: 767px) and (min-width: 480px){
	/* .footer-link ul li {
		width: 50%;
	} */
	
}
@media (min-width:991px) and (max-width:1199px){
    .col-sm-2.footer-link .footer-img-text {min-height: 56px;}

}
@media (min-width:320px) and (max-width:380px){
	.footer-link {width: 100%;}
}

@media (min-width:0px) and (max-width:370px){
	.create-exp .container h5 + span {
		display: inline-block!important;
		width: 200px;
		word-wrap: break-word;
		min-width: 100%;
	}
}
@media(min-width:320px) and (max-width:1023px) {
	.faq-section {
		padding-right: 0;
	}
	.enterprise-startup .container {
		width: 100%;
	}
	.enterprise-startup {
		margin-top: 30px;
	}
	#pricing .enterprise-box-v2 {width: 100%;}
	#pricing .enterprise-box-v2 h2.title {
		font-size: 22px;
		padding: 0px !important;
	}
	.enterprise-box-v2.startup-box {
		width: 100%;
		margin-top: 30px;
		min-height: auto;
	}
	.startup-box span.subtitle {
		padding: 0px 10px;
	}
	.startup-box p {
		padding: 10px 0px 0px !important;
	}
	.create-exp .container {
		margin-top: 30px;
	}

}
@media only screen and (max-width: 767px) and (min-width: 320px){
	.sec-cookies {
		padding: 20px !important; 
		text-align: center;
		font-size: 12px !important;
	}
	.sec-cookies p {
		width: 100% !important;
	}
	.sec-cookies .btn-understand {
		padding: 7px 20px !important;
		font-size: 11px !important;
		float: none !important;
		margin-top: 20px;
	}
	.sec-cookies i.material-icons {
		right: -12px !important;
		top: -12px !important;
	}

	label.quiz-only {
		margin: 0 30%
	}
}
@media (max-width: 2999px) and (min-width: 1480px) {	
    .section-1, #pricing .section-1 {
        margin-top: 75px !important;
        padding-top: 0px !important;      
    } 
}
@media (min-width: 5000px) {
	.container {
		width: 50% !important;
	}
	#pricing .container-faqs {
		width: 50%;
	}
	colgroup:nth-child(3) {
		right: 622px;
	}
}
@media (max-width: 400px) and (min-width: 373px) {
	.create-exp .container h4 {padding: 0px 20px;}
}
@media (max-width: 434px) and (min-width: 400px) {
	.create-exp .container h4 {padding: 0px 40px;}
}
@media (max-width: 454px) and (min-width: 435px) {
	.create-exp .container h4 {padding: 0px 60px;}
}
@media (max-width: 492px) and (min-width: 455px) {
	.create-exp .container h4 {padding: 0px 70px;}
}