/* ################### pricing responsive css start ################### */

@media (min-width: 320px) and (max-width:768px) {
	#pricing .section-1{
        margin-top: 0;
        margin-bottom: 0;
    }
	#pricing .loader{
		color:#FB6C73;
	}
	#pricing .section-2-heading {
		margin-top: 20px;
		margin-bottom: 0px;
	}
	#pricing .container-faqs {
        width: 95%;
		margin: 0 10px;
	}
	#pricing .accordion-section-title{
		font-size:18px;
	}
	#pricing .accordion p {font-size: 14px;}
	#pricing .accordion-section-title:before{
		margin-left: -2px;
		margin-right: 8px;
		width:19px;
	}
	#pricing .accordion-section-content{
		margin-left:35px;
	}
	#pricing .section-faq{ margin-top: 15px;margin-bottom: 15px;}
	#pricin .section-2-heading{ font-family: montserratbold;}
	#pricing .billing-plan-list{width:100%;}
	/*#pricing .billing-plan-list ul > li > a{
		padding:15px 2px;
	}*/
	#pricing .container-enterprise{
		width: 100%;
		padding: 0 25px;
	}
	#pricing .enterprise-box-new p{
		padding: 0px;
		margin-bottom: 20px;
	}
	#pricing .enterprise_pos{
		margin-top: 10px;
	}
	#pricing .need-custom-plan a{
		font-size: 12px;
	}
	#pricing .need-custom-plan i.material-icons {
	    font-size: 28px;
	    top: 10px;
	}
	
    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
    #pricing .pricing-headingtop .plans-heading {font-size: 22px;}
    #pricing .pricing-headingtop .plans-subheading {font-size: 14px; margin-top: 10px;}
	#pricing .sec-allPlans .section-2-heading {font-size: 22px;}
	#pricing .section-faq .section-2-heading {font-size: 22px; line-height: 30px;}

}

@media (min-width:320px) and (max-width:330px){
	#pricing .section-1-right {
		margin-top:70px;
	}
}

@media (min-width: 440px) and (max-width:768px) {
	#pricing .container-faqs {
		/*width: 440px;*/
		margin: 0 10px;
	}
}

@media (min-width: 640px) and (max-width:768px) {
	.allPlans-blocks-640{width: 50%;}
}

@media (min-width: 768px) and (max-width:1024px){
	#pricing .custom-navbar.navbar-default .navbar-nav > li {
		margin-right: 0px;
	}

}

@media (min-width: 769px) and (max-width:990px) {
	
	#pricing .loader{
		margin-left: 0px;
		color:#fb6c73;
	}
    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
	.sec-allPlans{margin-top: 30px;}
	
}
@media screen and (max-width:990px){
	.pricing-outer.container{padding-right: 30px; padding-left: 30px;}

}

@media screen and (max-width:991px){
    .rs-text-center{text-align: center;}
    .allPlans-blocks-right {margin-left: 0px;}
    .allPlans-blocks p {padding: 0 10px;}
    .allPlans-blocks img {margin-top: 0px; margin-bottom: 10px;}
}


@media (min-width: 991px) and (max-width:1024px) {
	#pricing .loader{
		margin-left: 38%;
		color:#fb6c73;
	}
	#pricing .container-faqs {
		width: 800px;
		margin: 0 auto;
	}
}

@media (min-width: 1024px) and (max-width:1024px) {
	#pricing .loader{
		margin-left:26%;
	}

}


@media (min-width: 1024px) and (max-width:1200px) {
	#pricing .container-faqs {
		width: 900px;
		margin: 0 auto;
	}
	
}

@media (min-width: 1920px) {

}

@media (min-width: 1925px) and (max-width:2300px) {
	
}

@media (min-width: 2450px) and (max-width:2550px) {

}
@media (min-width: 2600px){

}

/* ################### pricing responsive css end ################### */