#sidebar-wrapper {
    margin-right: -280px;
    right: 0;
    width: 280px;
    background: #fff;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    transition: all 0.5s ease-in 0s;
    -webkit-transition: all 0.5s ease-in 0s;
    -moz-transition: all 0.5s ease-in 0s;
    -ms-transition: all 0.5s ease-in 0s;
    -o-transition: all 0.5s ease-in 0s;
    top: 0px;
}
.sidebar-nav {
    position: absolute;
    width: 280px;
    list-style: none;
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.sidebar-nav li {
    line-height: 55px;
    border-bottom: 1px solid #e6e9eb;
}
.sidebar-nav li a {
    color: #62696d;
    display: block;
    text-decoration: none;
    padding: 0 3px;
    font-size: 14px;
    text-transform: uppercase;
    font-family: montserratregular;
}
.sidebar-nav li a:hover {
    color: #fb5f66; 
    background: rgba(255,255,255,0.2);
    text-decoration: none;
    /* opacity: 0.7; */
}
.sidebar-nav li a:active, .sidebar-nav li a:focus {
    text-decoration: none;
    border-bottom: none !important;
    background: none !important;    
}
.sidebar-nav li a i.material-icons {
    position: absolute;
    right: 0;
    top: 18px;
    font-size: 17px !important;
    color: #62696d;
}
.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
#menu-toggle {
    top: 10px;
    right: 0px;
    position: absolute;
    z-index: 1;
    margin: 0;
    box-shadow: none;
}
#sidebar-wrapper.active {
    right: 280px;
    width: 280px;
    transition: all 0.5s ease-out 0s;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    -ms-transition: all 0.5s ease-out 0s;
    -o-transition: all 0.5s ease-out 0s;
}
.toggle {
    margin: 0;
}

#menu-toggle.navbar-toggle .icon-bar {
    background-color: #fb5f66;
} 
#menu-toggle:focus {
    outline: none;
    box-shadow: none;
}
#sidebar-wrapper .toggle {
    border: none;
    background: none;
    position: absolute;
    z-index: 9;
    right: 15px;
    top: -20px;
    padding: 0;
}
#sidebar-wrapper .toggle i.material-icons {
    color: #62696d;
    font-size: 20px;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 999;
}
button.navbar-toggle.collapsed {
    display: none;
}
.dropdown-backdrop {
    display: none;
}
.dropdown.open>.dropdown-content {
    display: block;
}
.dropdown.open .drop-sub-menu .dropdown-sub-content {
    display: block;
}
li.dropdown:hover .hvr-underline-from-left:before {
    right: 5px;
    left: 5px;
    /* top: 58px; */
    background: #fb5f66;
    height: 2px;
}
li.dropdown:hover a.params.hvr-underline-from-left {
    color: #fb5f66;
}
.dropdown-content .drop-sub-menu:hover a.params {
    color: #fb5f66;
}
.dropdown-content .drop-sub-menu:hover .dropdown-sub-content a {
    color: #62686c;
}
.dropdown-content .drop-sub-menu:hover .dropdown-sub-content a:hover {
    color: #fb5f66;
}
li.dropdown.open:hover a.dropdown-toggle {
    color: #fb5f66;
}

@media (min-width: 320px) and (max-width: 1023px) {
    .dropdown .dropdown-content {
        padding-bottom: 20px;
        top: 0;
        padding-left: 20px;
    }
    .dropdown-content a {
        font-size: 13px !important;
        text-transform: uppercase;
        line-height: 18px!important;
        padding: 7px 0px !important;
        margin: 0 !important;
        text-transform: none !important;
        color: #666;
        opacity: 0.8; 
        border-bottom: none !important;
        font-family: montserratlight !important;
    } 
    .dropdown .dropdown-sub-content {        
        padding: 0px 20px !important;
    }
    li.signUp.res-nav-show {margin-top: 0px !important; margin-bottom: 15px !important;}
    .navbar-fixed-top {
        z-index: unset;
        position: absolute;
    }    
    .drop-sub-menu .dropdown-sub-content a {
        border-bottom: none;
        padding: 7px 0px !important;
        opacity: 0.6;
    }
    .dropdown-content li {
        list-style-type: disc;
        line-height: 18px;
        font-family: montserratlight;
        border-bottom: none;
        font-size: 16px;
        color: #666;
        opacity: 1;
    }
    .drop-sub-menu .dropdown-sub-content li {
        list-style-type: circle;
        font-size: 16px;
        color: #000;
        opacity: 1;
    }
    .custom-navbar a.link-login {
        border-bottom: none;
        margin-bottom: -12px;
    }
    li.signUp.signUp-style {
        margin: 0px !important;
        /* line-height: normal; */
        border-bottom: none;
    }
    li.signUp.signUp-style a.link-login {
        margin: 0px !important;
        font-size: 14px !important;
        padding: 6px 13px !important;
        border: 2px solid #f8434b !important;
    }
    li.signUp.signUp-style a.link-login:hover {
        background: #fb757b !important;
        color: #fff !important;
        /* border: 2px solid #f8434b !important; */
        opacity: 0.5;
    }
    .drop-sub-menu i.material-icons {
        transform: none !important;
        top: -3px !important;
        color: #62696d !important;
        position: relative !important;
    }
    .dropdown:hover .dropdown-content, .dropdown:hover .dropdown-sub-content {
        display: block;
    }
    li.dropdown.open a{
        border-bottom: none !important;
    }
    .drop-sub-menu i {
        opacity: 0;
    }
    li.login {
        border-bottom: none;
    }
    .drop-sub-menu a.active, .drop-sub-menu .drop-sub-content a.active {
        color: #fb5f66;
        background: none;
    }
    .sidebar-nav li.dropdown:hover .dropdown-content {
        display: none;
    }
    .sidebar-nav li.dropdown.open .dropdown-content {
        display: block;
    }

}
@media (max-width: 1250px) and (min-width: 1024px) {
    .custom-navbar.navbar-default .navbar-nav>li>a {
        padding-left: 0;
        padding-right: 0;
        margin-right: 15px !important;
        margin-left: 15px;
    }
    .dropdown .dropdown-content {
        right: 20px;
    }
    .dropdown .dropdown-sub-content {
        right: -160px !important;
    }
    .dropdown .dropdown-sub-content a {
        font-size: 12px;
    }

}

/* existing css changes */
    .custom-navbar.navbar-default {
        padding: 0;
    }
    .custom-navbar.navbar-default .navbar-nav>li {
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .nav-boxshadow.custom-navbar.navbar-default .navbar-nav>li {
        height: auto;
        padding-top: 0px;
    }
    .navbar-brand {
        padding-top: 16px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .nav-boxshadow .navbar-brand {
        padding-top: 12px;
    }
    .navbar-nav>li>a {
        line-height: 35px;
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
    .nav-boxshadow .navbar-nav>li>a {
        line-height: 25px;
    }
    .nav-boxshadow.custom-navbar .signUp a {
        margin-top: 13px;
    }
    .nav-boxshadow.custom-navbar {
        border-bottom: transparent;
    }

/* end: existing css changes */

@media (min-width: 320px) and (max-width: 1023px) {
    .navbar-brand {
        padding-top: 10px !important;
    }
}
@media (min-width: 991px) and (max-width: 1023px) {

}
@media (min-width: 1480px) and (max-width: 2999px) {
    /* .dropdown .dropdown-content {
        top: 80px;
    } */
    .navbar-brand {
        padding-top: 20px;
    }    
    .nav-boxshadow .navbar-brand {
        padding-top: 17px !important;
    }
    .navbar-nav>li>a {
        line-height: 45px;
    }
    .nav-boxshadow .navbar-nav>li>a {
        line-height: 35px;
    }
    .custom-navbar .signUp a {
        margin-top: 22px;
    }
    .nav-boxshadow.custom-navbar .signUp a {
        margin-top: 17px;
    }   
   
}
@media (min-width: 3000px) {
    .custom-navbar.navbar-default.nav-boxshadow {
        padding: 0px !important;
    }
    .navbar-nav>li>a {
        line-height: 85px;
    }
    .nav-boxshadow .navbar-nav>li>a {
        line-height: 65px;
    }
    .custom-navbar .signUp-style a {
        margin-top: 40px;
    }
    .nav-boxshadow.custom-navbar .signUp a {
        margin-top: 33px;
    }
    .navbar-brand {
        padding-top: 40px;
    }
    .nav-boxshadow .navbar-brand {
        padding-top: 32px;
    }


}

/* .hvr-underline-from-left:focus:before {visibility: hidden;} */
/* .hvr-underline-from-left:hover:before {visibility: hidden;} */

/* .hvr-underline-from-left:active:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:hover:before {visibility: hidden;}
.hvr-underline-from-center:before, .hvr-underline-from-left:before {visibility: hidden;}

.hvr-underline-from-left{
    position:relative;
    text-decoration:none;
    display:inline-block;
}
.hvr-underline-from-left:after {
    display: block;
    content: '';
    border-bottom: solid 2px #fb5f66;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
    position: relative;
    bottom: -15px;
    right: 0;
    left: 0;
}
.hvr-underline-from-left:hover:after { 
    transform: scaleX(1);
    transform-origin:0 50%;
}
.active.hvr-underline-from-left:after {
    border-bottom: solid 2px #fb5f66;
    transform: scaleX(1);
} */


/* .navbar-nav > li > a.hvr-underline-from-left:focus:before {
    visibility: hidden;
} */
.custom-navbar.navbar-default .navbar-nav>li>a.hvr-underline-from-left:focus:before {
    right: 5px;
    left: 5px;
    /* top: 58px; */
    background: #fb5f66 !important;
    height: 2px;
}
.custom-navbar.navbar-default .navbar-nav>li>a.hvr-underline-from-left:focus:before {visibility: hidden;}
.custom-navbar.navbar-default .navbar-nav>li>a.hvr-underline-from-left:hover:before {    
    content: "";
    z-index: -1;
    background: #fb5f66 !important;
    height: 2px !important;
    -webkit-transition-timing-function: ease-out;
}
.custom-navbar .dropdown-content a.active {
    color: #fb5f66;
    background: none;
}
.drop-sub-menu .dropdown-sub-content {width: 88%;}
.drop-sub-menu-stories .dropdown-sub-content { top: 93px;}
.dropdown .dropdown-sub-content {right: -173px;}
.dropdown .dropdown-sub-content a {
    font-size: 12px;
}