body{background:#fff !important;}
.text-bar{ margin-bottom:40px; float:left;}
.tab-section{}
.tab-section .nav-tabs {border-bottom: 0; text-align: center;  }
.tab-section .nav-tabs > li {float: none; margin-bottom: -1px; display: inline-block;}
.tab-section .nav-tabs > li > a {color: #61696c;    cursor: pointer;background-color: #eff0f0;    border:0; margin-right:-4px; 
 border-bottom-color: transparent; font-family:montserratbold; font-size:14px;    padding: 15px 50px; border-radius:0 !important;}
.tab-section .nav-tabs > li.active > a, .tab-section .nav-tabs > li.active > a:hover, .tab-section .nav-tabs > li.active > a:focus {color: #fff;cursor: default;background-color: #61696c;    border:0;
 border-bottom-color: transparent; font-family:montserratSemiBold; font-size:14px; position:relative;    cursor: pointer;}
 .tab-section .nav-tabs > li > a i{ display:none;}
.tab-section .nav-tabs > li.active i{ position:absolute; left: 25px;top: 14px; font-size: 20px; display:block; } 
.gallery-content-center .img-outer{ float:left; width:100%;position: relative;}
.gallery-content-center .img-outer img{ width:100%;}
.gallery-content-center h4{ float:left; font-family:montserratlight;  font-size:16px; width:100%; color:#fd6e74; text-transform: uppercase;}
.gallery-content-center p{ float:left; font-family:montserratlight;  font-size:13px;  color:#898e8f;}
.gallery-content-center .color-outer{ float:left;  width:100%;  background:#fd6e74; min-height:250px; text-align:center; padding:20px;  }
.gallery-content-center .color-outer p{font-family:montserratregular; color:#fff !important; font-size:14px;line-height:24px; float:left;}
.gallery-content-center .color-outer i{ margin-bottom:20px; font-size:50px; color:#fff; }
/* .gallery-content-center .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
} */
.gallery-content{
	margin-top:0px !important;
}
.gallery-content-center .img-outer:hover {
	 opacity:1;
}
.gallery-content-center .img-outer:hover .portfolio-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: none;
    background-color: none;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.gallery-content-center .img-outer:hover .portfolio-hover .action-btn { 
	opacity:0;
}
.gallery-content-center .img-outer-text{
	float:left; 
	width:100%;
}
.gallery-content-center .portfolio-hover .action-btn {
    position: absolute;
    /* top: 0; */
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
   /*  -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s; */
    font-size: 35px;
	top: 50%;
    margin-top: -35px;
	transform: rotate(135deg);
	transition-duration: 0.3s;
}
.gallery-content-center .portfolio-hover .action-btn a{
	text-align: center;
    color: #222;
 }
 .action-btn i {
    font-size: 35px;
    color: #999;
}

.collage-outer {
    min-height: 200px;
    margin-top: 140px;
    margin-bottom: 80px;
    position: relative;
}
.collage-outer .collage-hollow {
	/* background: #fb5f66; */
    width: 144px;
    height: 134px;
    padding: 15px 5px;;
	border: 3px solid #fb5f66;
	position:absolute
}
.collage-hollow .hvr-grow{
	display:block;
}
.collage-solid .hvr-grow{
	display:block;
}
.collage-hollow:hover{
	box-shadow:5px 5px 10px #999;
	transition-duration:0.3s;
}
.collage-solid:hover{
	box-shadow:5px 5px 10px #999;
	transition-duration:0.3s;
}
/* .collage-hollow:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}
.collage-hollow-text:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
} */
/* .collage-hollow:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}
.collage-hollow-text:hover {
    animation:blur .6s ease-out;
	text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
} */
@keyframes blur{
   from{
     text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 150px #fff,
      0px 10px 100px #fff,
      0px 10px 100px #fff,
      0px 10px 100px #fd6e74,
      0px 10px 100px #fd6e74,
      0px -10px 100px #fd6e74,
      0px -10px 100px #fd6e74;}
	  
}

.collage-hollow.h-sec {
    left: 14%;
	top: 42%;
}
.collage-hollow.h-third {
    left: 28%;
    top: 0%;
}
.collage-hollow.h-fourth {
    top: -32%;
    left: 63%;
}
.collage-hollow.h-fifth {
    top: 15%;
    left: 82%;
}
.collage-outer .collage-hollow .collage-text{
	font-size:13px;
	color:#fd6e74;
	margin-top: 10px;
    margin-bottom: 15px;
	text-transform: uppercase;
}
.collage-hollow span.mat-icon{
	display:block;
}
.collage-hollow span.mat-icon i.material-icons {
    color: #fd6e74;
    font-size: 48px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.useCase-heading{
    float: left;
    width: 100%;
    text-align: center;
    color: #fb5f66!important;
    font-size: 42px;
    line-height: 44px;
    font-family: montserratultra_light;
    text-transform: none;
}
.collage-outer .collage-solid{
	background: #fb5f66;
    width: 144px;
    height: 134px;
    padding:15px 5px; 
    position:absolute;
	
}
.collage-solid span.mat-icon{
	display:block;
}
.collage-solid span.mat-icon i.material-icons {
    color: #fff;
    font-size: 48px;
    display: block;
    text-align: center;
    margin-top: 10px;
}
.collage-outer .collage-solid .collage-text {
    font-size: 13px;
    color: #fff;
    margin-bottom: 15px;
    text-transform: uppercase;
    margin-top: 10px;
}

.collage-solid.s-first {
    top: -62px;
    left: 14%;
}
.collage-solid.s-sec {
    top: -72%;
    left: 35%;
}
.collage-solid.s-third {
    top: 83px;
    left: 42%;
}
.collage-solid.s-fourth {
    top: -32%;
    left: 49%;
}
.collage-solid.s-fifth {
    top: -58%;
    left: 77%;
}
.collage-solid.s-sixth {
    top: 42%;
    left: 68%;
}
.collage-text1{
	padding: 15px 5px!important;
}
/* .collage-solid:hover {
    animation:blur1 .6s ease-out;
}
.collage-solid-text:hover {
    animation:blur1 .6s ease-out;
} */
@keyframes blur1{
  /* from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #eee,
      0px 0px 150px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px 10px 100px #eee,
      0px -10px 100px #eee,
      0px -10px 100px #eee;} */
	  from {opacity: 0;}
		to {opacity: 1;}
	
}
/* Icon Spin */
.hvr-spin {
  display: block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
 -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-spin:hover, .hvr-spin:focus, .hvr-spin:active {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px) box-shadow: 0 0 1px rgba(0, 0, 0, 0) -webkit-backface-visibility: hidden;
    backface-visibility: hidden -moz-osx-font-smoothing: grayscale;
    position: relative -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
 /* move the element up by 5px */;
}
.gallery {
    float: left;
    width: 100%;
    margin-top: 20px;
}




.usecase .section-usecase1-left h4 {
    color: #fb5f66;
    font-size: 24px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: uppercase;
	margin-top:0px;
}
.usecase .section-usecase1-left span {
    color: #fb5f66;
    font-size: 14px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
}
.usecase .section-usecase1-left p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #fb5f66;
    font-family: montserratlight;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase1-left .section-usecase1-new span{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase1-left .section-usecase1-new span span {
    color: #62696d;
    font-size: 13px;
    font-family: montserratlight;
    width: 85%;
    float: left;
    display: block;
    margin: 0px;
}

.usecase .section-usecase1-left .section-usecase1-new span i{
    font-size: 20px;
    color: #bec5c9;
    position: relative;
    margin-right: 20px;
    float: left;
}
.usecase .section-usecase1-left {
    padding-left: 50px;
}
.usecase .sec9-test{ margin-top: 5px; margin-bottom:30px;}



.usecase .gallery-content-center .abc{
    width: 100%;
	float:left;
	margin-left:0px;
}

.usecase .section-usecase2-left h4 {
    color: #fb5f66;
    font-size: 24px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: uppercase;
	margin-top:0px;
}
.usecase .section-usecase2-left p {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #fb5f66;
    font-family: montserratlight;
    margin-bottom: 5px;
    margin-top: 5px;
}
.usecase .section-usecase2-left span {
    color: #fb5f66;
    font-size: 14px;
    font-family: montserratlight;
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    text-transform: none;
}

.usecase .section-usecase2-left .section-usecase2-new span{
    text-align: left;
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
}

.usecase .section-usecase2-left .section-usecase2-new span span {
    color: #62696d;
    font-size: 13px;
    font-family: montserratlight;
    width: 85%;
    float: left;
    display: block;
    margin: 0px;
}

.usecase .section-usecase2-left .section-usecase2-new span i{
    font-size: 20px;
    color: #bec5c9;
    position: relative;
    margin-right: 20px;
    float: left;
}
.usecase .section-usecase2-left {
    padding-right: 50px;
}
.usecase .gallery-header-center-right-links-current{ border: none;}




/**** new choose template ***/
    section.section.example-calc {
        margin-top: 50px;
        position: relative;
    }
    .example-calc .tab-section{}
    .example-calc .tab-section .nav-tabs {
        border-bottom: 1px solid #fff;
        text-align: center;
        margin-bottom: 50px;
    }
    .example-calc .tab-section .nav-tabs > li {
        float: none; 
        margin-bottom: 0px; 
        display: inline-block;
        padding: 0px 15px;
    }
    .example-calc .tab-section .nav-tabs > li > a {
        color: #888888;
        cursor: pointer;
        background-color: #fff;
        border: 0;
        margin-right: 0px;
        border-bottom: 1px solid #fff;
        font-family: montserratregular;
        font-size: 12px;
        padding: 7px 5px;
        text-transform: uppercase;
    }
    .example-calc .tab-section .nav-tabs > li.active > a, .tab-section .nav-tabs > li.active > a:hover, .tab-section .nav-tabs > li.active > a:focus {
        border-bottom: 1px solid #fb5f66;
        background: none;
        color: #888888;
        font-size: 12px;
        font-family: montserratregular;
    }
    .example-calc .tab-section .nav-tabs > li > a i{ 
        display:none;
    }
    .example-calc .tab-section .nav-tabs > li.active i{ 
        position:absolute; 
        left: 25px;
        top: 14px; 
        font-size: 20px; 
        display:block; 
    } 

    ul.nav.nav-tabs.template-tab {    border: 0;    text-align: center;    width: 100%;}
    ul.nav.nav-tabs.template-tab li {    display: inline-block; margin: 0; float: none; padding: 0 5px;}    
    .new-template-choose .top-heading{align-items: flex-end; display: flex;justify-content: center; padding: 0; height: 95px}
    .new-template-choose {    background: #fff;    min-height: calc(100vh - 98px);}
    ul.nav.nav-tabs.template-tab li a {   box-shadow: 0 -7px 10px rgba(0,0,0,0.1); margin: 0;  font-family: montserratregular;  border: 2px solid #fff;    border-radius: 4px 4px 0px 0px; background:#fb5f66;    border-bottom: 0px;    font-size: 13px;    color: #fff;}
    ul.nav.nav-tabs.template-tab li.active a{background: #fff; color: #63717b}
    .heading-content h3 {    float: left; line-height: 30px;   width: 100%;    margin: 0;    font-size: 24px;    color: #fb5f66;    font-family: montserratlight;}
    .heading-content p{float: left;  line-height: 30px;  width: 100%; color: #8e989f;  font-family: montserratlight; font-size: 14px;} 
    .heading-content{float: left; width:100%; text-align: center; margin: 10px 0 40px;}
    ul.pre-temp-cat {    float: left;    padding: 0 0px 0 0;    width: 220px;    margin: 0;  }
    ul.pre-temp-cat li{float: left; width: 100%; margin-bottom: 15px; list-style: none;}
    ul.pre-temp-cat li a {    float: right;    font-size: 11px; transition: 0.5s;   text-transform: uppercase;    color: #8e989f;    border: 1px solid #8e989f;    border-radius: 50px;    padding: 5px 20px;    line-height: 25px;    font-family: montserratlight; }
    ul.pre-temp-cat li.active a , ul.pre-temp-cat li a:hover{transition: 0.5s; background: #1483b7; border-color: #1483b7; color: #fff}
    .pre-temp-cont{float: left;    width: calc(100% - 220px);    padding: 0 20px;}
    ul.pre-temp-list {
        float: left;
        width: 220px;
        padding: 0 50px 0 0;
        margin: 0;
        max-width: 100%;
        height: 600px;
        margin-right: 17px;
    }
    ul.pre-temp-list > li{float: left; width: 100%; position: relative; margin-bottom: 15px; list-style: none;}
    ul.pre-temp-list > li  > a::before{content: "\f105"; font-family: FontAwesome; position: absolute; left: 0; top:-2px; font-size: 14px;}
    ul.pre-temp-list > li > a{    
        font-size: 12px;
        line-height: 20px;
        float: left;
        transition: 0.5s;
        color: #888;
        font-family: montserratlight;
        padding-left: 15px;
        padding-bottom: 5px;
        position: relative;
        width: 100%;
    }
    .premade-template{float: left; width: 100%;    margin-bottom: 40px; }
    ul.pre-temp-list > li.active > a, ul.pre-temp-list > li > a:hover{color: #4894ca; transition: 0.5s;}
    .pre-temp-view {    float: left;    width: 73%;    background: #fafafa;    max-width: 100%;       border: 5px solid #fff;    box-shadow: 0px 0 30px rgba(0,0,0,0.2); position: relative;}
    .col-md-12.col-sm-12.col-xs-12.new-cards-section.pre-card {
        max-width: 1170px;
        margin: 0 auto;
        float: none;
    }
    ul.nav.nav-tabs.template-tab li > a > span {    background-image: url(https://cdn.filestackcontent.com/H9UpvrVASvWMsbndJxuB);    background-repeat: no-repeat;    background-position: 0 0;    float: left;    width: 23px;    height: 21px;    margin-right: 6px;}
    ul.nav.nav-tabs.template-tab li.premade > a > span{background-position: -60px 0px}
    ul.nav.nav-tabs.template-tab li.premade.active > a > span{background-position: -60px -40px}
    ul.nav.nav-tabs.template-tab li.active > a > span {background-position: 0px -40px}
    .temp-preview .image-scroll1 ,.temp-preview .image-bg1{float: left; width: 100%;}
    .content.temp-info {
        float: left;
        width: 100%;
        padding: 15px !important;
        display: flex;        
        align-items: center;
    }
    .temp-preview .image-scroll1  {
        background-position: 0 0;
        background-size: 100%;
        float: left;
        width: 100%;
        background-repeat: no-repeat;
        /* min-height: 286px; */
        min-height: auto;
    }
    .content.temp-info  h3{
        font-size: 12px;
        margin: 0;
        color: #45484c;
        line-height:20px;
        font-family: montserratlight; 
        float: left;width: calc(100% - 240px); 
        padding-right: 15px; 
        position: relative;
        padding-left: 0px;
    }
    .content.temp-info h3 p{
        text-transform: uppercase;    
        color: #fb5f66;
        margin: 0 0 5px 0;
        float: left;
        width: 100%;
        font-size: 14px;
        text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
    }
    .content.temp-info h3 p i.material-icons {
        color: #fb7f84;
        font-size: 18px;
        vertical-align: bottom;
        margin-right: 7px;
    }
    .content.temp-info h3 span {
        float: left;
        margin-left: 27px;
    }
    .content.temp-info h3 span i{font-size: 18px; line-height: 1;}
    .pre-temp-view .content.temp-info .btn.btn-red{
        float: right;    
        background: #fb5f66;
        color: #fff;
        font-size: 11px;
        text-transform: uppercase;
        float: right;
        padding: 13px 15px 12px;
        display:flex;
        align-items: center;
        transition: .5s ease-in-out;
        margin-left: 10px;
        outline: none;
        box-shadow: none;
    }
    .temp-preview .image-scroll1 img {
        float: left;
        width: 100%;
    }
    .content.temp-info h3 strong {
        font-family: montserratregular;
    }
   .pre-temp-view .content.temp-info .btn.btn-red i{
       font-size: 16px;
       position: relative;
       float: left; 
       left:-5px;
       margin-top:-3px;
    }
/**** new choose template ***/

.sec-cookies p a {color: #fff;}
.sec-cookies p a:hover {text-decoration: underline;}

/**** select industry new css ***/
    .premade-template-new {
        float: left;
        width: 100%;
        margin-bottom: 40px;
        /* margin-top: 25px; */
        position: relative;
    }
    .premade-template-left {
        width: 230px;
        float: left;
    }
    .premade-template-new .search-input {
        /* float: left;
        width: 266px;
        position: absolute;
        top: -35px; */
        float: left;
        width: 100%;
        margin-bottom: 45px;
    }
    .search-input .input-group {
        float: left;
        width: 100%;
    }
    .premade-template-new h4 {font-size: 14px; color: #888888; font-family: montserratsemibold;}
    .premade-template-new .search-input input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: none;
        font-size: 15px;
        font-family: montserratlight;
        color: #555;
        background-color: #f6f6f6;
        padding: 17.5px 10px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        border-radius: 3px;
        padding-left: 62px;
    }
    .premade-template-new .search-input i.material-icons {
        /* float: left; */
        position: absolute;
        /* left: 0; */
        /* top: 0; */
        font-size: 18px;
        color: #666;
        cursor: pointer;
        padding: 19px 23px;
    }
    .premade-template-new .search-input input::-moz-placeholder{
        color: #c2c2c2;
    }
    .premade-template-new .search-input input::-webkit-input-placeholder {
        color: #c2c2c2;
    }
    .premade-template .search-input input:-ms-input-placeholder {
        color: #c2c2c2;
    }
    ul.pre-temp-cat-new {
        /* background: #f9f9f9;
        border: 1px solid #ebebeb; */
        height: 600px;
        width: 230px;
        margin-top: 0px;
    }
    ul.pre-temp-cat-new li {
        margin-bottom: 10px;
    }
    ul.pre-temp-cat-new li a {
        float: left;
        width: auto;
        background: none;
        border: none;
        border-radius: 0px;
        font-size: 13px;
        padding: 4px 20px;
        text-transform: none;
        color: #888;
        font-family: montserratregular;
    }
    ul.pre-temp-cat-new li.active a, ul.pre-temp-cat-new li a:hover {
        /* background: #fb5f66; */
        background: #5192c8;
        border-radius: 25px;
        overflow: hidden;
    }
    .pre-temp-cont-new {
        float: left;
        width: calc(100% - 230px);
        padding: 0 0px 0px 30px;
    }

    /* css scrollbar */
        .pre-temp-cat-new.scrollbar, .pre-temp-list.scrollbar {
            overflow-y: scroll;
        }
        .pre-temp-cat-new.scrollbar::-webkit-scrollbar-track, .pre-temp-list.scrollbar::-webkit-scrollbar-track {
            border-radius: 0;
            background-color: #eaeaea;
        }
        .pre-temp-cat-new.scrollbar::-webkit-scrollbar, .pre-temp-list.scrollbar::-webkit-scrollbar {
            width: 3px;
            background-color: #eaeaea;
        }
        .pre-temp-cat-new.scrollbar::-webkit-scrollbar:horizontal, .pre-temp-list.scrollbar::-webkit-scrollbar:horizontal {
            height: 6px;
            background-color: #eaeaea;
        }
        .pre-temp-cat-new.scrollbar::-webkit-scrollbar-thumb, .pre-temp-list.scrollbar::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(102, 102, 102, 0.5);
        }
    /* end: css scrollbar */

/**** end: select industry new css ***/

/* start selectize */
    .selectize-wrapper {
        width: 100% !important;
    }
    /* custom selectize dropdown */
    .selectize-wrapper {
        width: calc(100% - 37%);
        float: left;
    }
    .selectize-wrapper .selectize-control.single .selectize-input {
        width: 100%;
        border: none;
        color: #526479;
        font-size: 13px;
        height: 44px!important;
        /* border-bottom: 1px solid #d2d2d2!important; */
        padding: 5px 10px;
        outline: none;
        border-radius: 3px;
        margin-bottom: 0px;
        background: #fb5f66;
        line-height: 34px;
        box-shadow: none;
        font-family: montserratlight;
    }
    .selectize-control .selectize-input.dropdown-active {
        border: none !important;
    }
    .selectize-input, .selectize-control.single .selectize-input.input-active {
        background: #fb5f66 !important;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-webkit-input-placeholder {
        color: #526479 !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-moz-placeholder {
        color: #526479 !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input:-ms-input-placeholder {
        color: #526479 !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
    }
    .selectize-wrapper .selectize-control.single .selectize-input .item {
        font-size: 14px;
        font-family: montserratlight;
        color: #fff!important;
        text-transform: capitalize;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input {
        /* width: 100% !important; */
    }
    .selectize-wrapper .selectize-dropdown-content {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 200px;
        background: #fff;
        border: 1px solid #dae2e6 !important;
        text-transform: capitalize;
    }
    .selectize-wrapper .selectize-dropdown-content .option {
        font-size: 13px;
        padding: 7px 10px;
        font-family: montserratlight;
        color: #84898d;
        /* position: relative;
        display: block;
        overflow: hidden;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out; */
        display: block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    .selectize-wrapper .selectize-dropdown-content .option:hover:after {
        /* -webkit-transform: translateX(0);
        transform: translateX(0); */
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .selectize-wrapper .selectize-dropdown-content .option:after {
        /* content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #4aa3d7;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%); */
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f6f6f6;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    .selectize-wrapper .selectize-dropdown-content .option.active {
            /* background-color: #4aa3d7;
            color: #fff; */
    }
    .selectize-wrapper .selectize-dropdown-content .option:hover {
        color: #fff;
    }
    .selectize-wrapper .selectize-control.single .selectize-input:after {
        font-family: Material Icons;
        content: "keyboard_arrow_down";
        color: #fff;
        font-size: 16px;
        position: absolute;
        pointer-events: none;
        right: 30px;
        border: none;
        top: 10px;
        margin-top: -4px;
    }
    .selectize-wrapper input {
        border: none;
    }
    .selectize-dropdown {
        position: absolute;
        z-index: 10;
        border: 1px solid #d0d0d0;
        background: #fff;
        margin: -1px 0 0 0;
        border-top: 0 none;
        box-sizing: border-box;
        box-shadow: 0 1px 3px rgba(0,0,0,.1);
        border-radius: 0 0 3px 3px;
    }
    .selectize-dropdown-content {
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 250px;
    }
    .selectize-dropdown-content::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: #f5f5f5;
    }
    .selectize-dropdown-content::-webkit-scrollbar {
        width: 6px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .selectize-dropdown-content::-webkit-scrollbar:horizontal {
        height: 6px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .selectize-dropdown-content::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .selectize-wrapper.right-sec {
        width: 31% !important;
    }
    .selectize-wrapper.right-sec .selectize-control.single .selectize-input {
        height: 30px !important;
        line-height: 30px !important;
        margin-bottom: 10px !important;
    }
    .selectize-wrapper.right-sec .selectize-dropdown {
        top: 29px !important;
    }
    /* html *,
    html *:before,
    html *:after {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
    } */
    .selectize-wrapper .selectize-dropdown .option.active, .selectize-wrapper .selectize-dropdown .option:hover {
        background-color: #f6f6f6 !important;
        color: #888 !important;
    }
    /* *:before, *:after {
        z-index: -1;
    } */
    .selectize-control.form-control.single {
        padding: 0;
    }
    .selectize-control.single .selectize-input, .selectize-dropdown.single {
        padding: 0;
    }
    .selectize-wrapper .selectize-dropdown {
        border: none!important;
        top: inherit!important;
        box-shadow: 0 0 10px rgba(0,0,0,.15);
        margin-top: -6px;
    }
    .selectize-control.single .selectize-input input {
        pointer-events: none;
        color: #fff;
    }
    .selectize-wrapper .selectize-control .selectize-input {
        width: 100%;
        border: none;
        color: #fff;
        font-size: 13px;
        height: auto !important;
        /* border-bottom: 1px solid #b7daef!important; */
        padding: 0 5px;
        outline: none;
        border-radius: 0px;
        background: transparent;
        line-height: 30px;
        box-shadow: none;
        font-family: montserratlight;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-webkit-input-placeholder {
        color: #fff !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
        opacity: 1 !important;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-moz-placeholder {
        color: #fff !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
        opacity: 1 !important;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input:-ms-input-placeholder {
        color: #fff !important;
        font-size: 13px;
        font-style: normal;
        font-family: montserratlight;
        opacity: 1 !important;
    }
    .selectize-wrapper .selectize-control .selectize-input .item {
        /* background-color: #fff !important;
        border: none;
        color: #808b99 !important;
        border-radius: 20px;
        padding: 3px 12px 3px 10px;
        font-size: 11px;
        vertical-align: middle;
        line-height: normal;
        border: 1px solid #e5e5e5;
        cursor: pointer;
        font-family: montserratlight;
        font-weight: normal;
        transition: 0.2s ease-in-out; */
    }
    .selectize-wrapper .selectize-control.multi .selectize-input [data-value] {
        background-color: #fff !important;
        border: none;
        color: #808b99 !important;
        border-radius: 20px;
        padding: 3px 12px 3px 10px;
        font-size: 11px;
        vertical-align: middle;
        line-height: normal;
        border: 1px solid #e5e5e5;
        cursor: pointer;
        font-family: montserratlight;
        font-weight: normal;
        transition: 0.2s ease-in-out;
        background-image: initial !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    /* .selectize-wrapper.right-sec-new .selectize-control .selectize-input input{
        width: initial !important;
    } */
    .selectize-control.multi .selectize-input.has-items {
        padding: 0 !important;
    }
    .selectize-input.dropdown-active::before {
        background: transparent !important;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-webkit-input-placeholder {
        opacity: 0.5;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input::-moz-placeholder {
        opacity: 0.5;
    }
    .selectize-wrapper .selectize-control.single .selectize-input input:-ms-input-placeholder {
        opacity: 0.5;
    }
    .selectize-wrapper .selectize::-webkit-input-placeholder {
        opacity: 0.2;
    }
    .selectize-dropdown [data-selectable] .highlight {
        background: rgba(125, 168, 208, 0.2);
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        color: #84898d;
    }
/* end custom selectize */

.tag-exp {
    position: absolute;
    right: -5px;
    top: 10px;
    background: #f7f5f3;
    border-radius: 10px 0px 0px 10px;
    padding: 2px 15px;
    font-size: 13px;
    color: #fb5f66;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.15);
}
.tag-exp i.material-icons {
    font-size: 14px;
    width: 14px;
    vertical-align: sub;
    margin-right: 5px;
}
/* ul.pre-temp-cat-new li:first-child:not(.active) a {
    background: #fb5f66;
    color: #fff;
} */
ul.pre-temp-list > li > a small {
    font-size: 8px;
    color: #666666;
    text-transform: uppercase;
    font-family: montserratlight;
    padding: 4px 10px;
    float: left;
    width: auto;
    background: #f5f5f5;
    border-radius: 20px;
    line-height: normal;
}
ul.pre-temp-list > li > a span {
    float: left;
    width: 100%;
    padding-top: 5px;
}
.no-match-found {
    display: table;
    float: left;
    background: #fff;
    text-align: center;
    /* width: 76%; */    
    width: calc(100% - 230px);
    height: 600px;
}
.no-match-found-inner {
    display: table-cell;
    vertical-align: middle;
    float: none;
}
.no-match-found-inner i.material-icons {
    display: block;
    color: #fb5f66;
    font-size: 46px;
    margin-bottom: 10px;
}