Options +FollowSymLinks
RewriteEngine On
RewriteRule http://localhost:8000/(.*)\.html$ http://localhost:8000/$1

<FilesMatch ".*">
    <ifModule mod_headers.c>
        Header unset ETag
        Header set X-UA-Compatible "ie-edge"
    </ifModule>
</FilesMatch>